* {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  font-size: 15px;

  font-family: "Lexend Deca", sans-serif;
}

.container {
  padding: 1em;
}
.card-container {
  border-radius: 10px;
}
.card {
  margin: 0;
  padding: 2.75em;
}
.card:nth-child(1) {
  background-color: var(--bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card:nth-child(2) {
  background-color: var(--dark-cyan);
}
.card:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--very-dark-cyan);
}
svg {
  margin-bottom: 1em;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-gray);
  margin-bottom: 1em;
  font-size: 2em;
  text-transform: uppercase;
}
p {
  color: var(--transparent-white);
  margin-bottom: 2em;
}

button {
  background-color: var(--very-light-gray);
  border-radius: 50px;
  padding: 0.75em 2em;
  border: var(--very-light-gray);
  margin-bottom: 2em;
}

.card:nth-child(1) button {
  color: var(--bright-orange);
}
.card:nth-child(2) button {
  color: var(--dark-cyan);
}
.card:nth-child(3) button {
  color: var(--very-dark-cyan);
}

.attribution {
  margin-top: 20em;
}

@media (min-width: 1440px) {
  .card {
    width: 15em !important;
    height: 30em !important;
  }

  .card-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
  }

  .card:nth-child(1) {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card:nth-child(3) {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--very-dark-cyan);
  }

  p {
    margin-bottom: 4em !important;
    line-height: 2;
  }
}
